/* .landing{

} */

.splitLR{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.container{
    width: 88vw;
    height: 100%;
}

.landing__banner{
    background: #1C7FF2;
    color: #ffffff;

    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__bannerLeft{
    display:flex;
    flex-direction:column;
}

.landing__bannerRight{
    background-color: white;
    border-radius: 15px; 
    width:50%;
    height:80%;
}

.landing__features{
    height: 100vh;
    margin: 20px 0;
}

.landing__articles{
    margin-top: 50px;

    display: flex;
    justify-content: center;

    height: 100%;

    /* background-color: papayawhip; */
}

.landing__topArticle{
    border: 0px solid black;
    border-radius: 5px;
    background: #1C7FF2;
    
    background-image: url("https://picsum.photos/seed/picsum/1000");
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center;
   
    width: 62%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landing__topArticleContent{
    background-color: whitesmoke;
    border-radius: 5px;
    
    margin-bottom: 2.5%;

    width: 95%;
    height: 30%;
    z-index: 100;
    position: sticky;
}



.landing__featuredArticles{
    /* display:"flex";
    flex-direction:"column";
    justify-content: "space-between"; */

    width: 37%;
    height: 100%;
}

.landing__featuredArticles > h1{
    /* margin: 0 0 20px 0; */
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 600;
    margin-top: 1rem;
}

.landing__fun{
    margin-top: 50px; 

    display: flex;
    justify-content: center;

    height: 100%;

    background-color: white;
}

.landing__funJokes{
    width: 50%;
    height: 90%;
    /* background: linear-gradient(to right, #283048, #859398); */
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.landing__funJokesContent{
    background: papayawhip;
    /* background: white; */
    border-radius: 5px;

    width: 100%;
    height: 80%;
}

.landing__funGames{
    width: 45%;
    height: 90%;

    border-radius: 5px;
    /* background: linear-gradient(to right, #283048, #859398);*/
     background: papayawhip;   
}

.landing__call2Action{
    background: #1C7FF2;
    color: white;

    margin-top: 116vh;
    padding: 0 10%;
    /* margin-top: px; */

    display: flex;
    justify-content: center;
    height: 100vh;
}

.landing__call2ActionLeft{
    /* background: black; */
    border-radius: 5px;

    width: 60%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.landing__call2ActionLeft > h1{
    margin-left: 20px;
}

.landing__call2ActionLeft > p{
    display: flex;
    margin-left: 40px;
}

.landing__call2ActionLeft > ul {
    margin-left: 4rem;
    font-size: small;
}

.landing__call2ActionLeft > ul > li{
    margin-bottom: .5rem;
}

.landing__call2ActionLeft > p > .MuiSvgIcon-root{
    transform: rotate(45deg);
    /* font-size: small !important; */
    margin-right: 1rem;
}

.landing__call2ActionRight{
    background: white;

    background-image: url("https://picsum.photos/id/204/1000");
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center;

    color: white;

    border-radius: 5px;
    width: 52%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing__call2ActionRightTop > p{
    font-size: 2.5rem;
    font-family: "Pacifico";
}

.landing__call2ActionRightTop{
    padding-top: 30%;
    padding-bottom: 5%;

    width: 50%;
    text-align: center;
}
